{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-12 main" style="text-align: center">
            {% buttons %}
                <a href="{% url 'add_page' %}" class="btn btn-primary">
                    {% bootstrap_icon "plus" %} Ajouter une Recette
                </a>
            {% endbuttons %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-md-2"><img src="/media/marion.jpg" width="180"></div>
        <div class="col-sm-8 col-md-8 main">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center"><b>Liste des Recettes</b></div>
                <div class="panel-body">
                    <table class="table table-striped">
                        {% for page in pages %}
                            <tr>
                                <td style="text-align: center;width:40px;"><a href="{% url "preview" page.pk %}">{% bootstrap_icon "eye-open" %}</a></td>
                                <td style="text-align: center;width:40px;"><a href="{% url "page_edit" page.pk %}">{% bootstrap_icon "pencil" %}</a></td>
                                {%  if page.pdf_file %}
                                    <td style="text-align: center;width:40px;"><a href="{{ page.pdf_file }}">{% bootstrap_icon "cloud-download" %}</a></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td><b>{{ page.name }}</b> / {{ page.title }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-md-2"><img src="/media/antoine.jpg" width="180"></div>
    </div>
{% endblock %}