{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-12 main">
            {% buttons %}
                <a href="{% url 'add_page' %}" class="btn btn-primary">
                    {% bootstrap_icon "plus" %} Ajouter une Page
                </a>
            {% endbuttons %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 main">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center"><b>Liste des Pages</b></div>
                <div class="panel-body">
                    <table class="table table-striped">
                        {% for page in pages %}
                            <tr>
                                <td style="text-align: center;width:40px;"><a href="{% url "preview" page.pk %}">{% bootstrap_icon "eye-open" %}</a></td>
                                <td style="text-align: center;width:40px;"><a href="{% url "page_edit" page.pk %}">{% bootstrap_icon "pencil" %}</a></td>
                                <td>{{ page.name }}</td></tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}