{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-12 main" style="text-align: center">
            <h4>1) Se rendre sur le site de partage de photos <a href="http://www.flickr.com" target="_blank">www.flickr.com</a></h4>
            <p><img src="/media/url.png"></p>
        </div>
        <div class="col-sm-12 col-md-12 main" style="text-align: center">
            <hr>
        </div>
        <div class="col-sm-12 col-md-12 main" style="text-align: center">
            <h4>2) S'identifier avec les identifiants suivants :</h4>
            <p><b>nom d'utilisateur :</b> marion.antoine2016</p>
            <p><b>mot de passe :</b> mariage2016</p>
            <p><img src="/media/ident.png" style="vertical-align: top"><img src="/media/ident2.png" width="200px"></p>
        </div>
        <div class="col-sm-12 col-md-12 main" style="text-align: center">
            <hr>
        </div>
        <div class="col-sm-12 col-md-12 main" style="text-align: center">
            <h4>3) importez les photos et vidéos que vous souhaitez partager :</h4>
            <p>cliquez le petit nuage</p>
            <p><img src="/media/upload.png"></p>
            <p>Suivez les instruction</p>
        </div>
    </div>
{% endblock %}