<html>
<table width="900" style="font-family:tahoma, geneva, sans-serif;">
    <tr>
        <td width="300"><img style="border-radius: 25px;" src="/media/{{ image1 }}" width="300"></td>
        <td style="text-align: center"><div style="border-radius: 25px;border: 2px solid #337ab7;"><h1>{{ page.title }}</h1></div></td>
    </tr>
    <tr height="20"><td colspan="2"></td></tr>
    <tr>
        <td colspan="2">
            <table width="100%">
                <tr>
                    <td width="10"></td>
                    <td>
                        <div style="padding-left: 10px">{{ page.content | safe }}</div>
                    </td>
                    <td width="400" valign="middle">
                        <img style="border-radius: 25px;" src="/media/{{ image2 }}" width="400">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td colspan="2" style="text-align: center; color:#337ab7; font-size: 30px">{{ page.name }}</td></tr>
</table>
</html>